FROM_ADDRESS=<email address of the sender>
SMTP_SSL_MODE=SSL # or STARTLS or nothing
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USERNAME=<username for connecting to SMTP host>
SMTP_PASSWORD=<password for connecting to SMTP host>
MAILDROP_INBOX_PREFIX='test-maildropy-'